@import "base/variables";
@import "base/mixins";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@import "libs/bootstrap-reboot.min";

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  &::after {
    box-sizing: border-box; 
  }
  &::before {
    box-sizing: border-box;
  }
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@import "blocks/title";
@import "blocks/button";
@import "blocks/promo";